In [56]:
import keras
import numpy as np
import pandas as pd

from keras.models import Sequential
from keras.layers import Dense

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [57]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [58]:
concrete_data.shape

(1030, 9)

In [59]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [60]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [61]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [62]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [63]:
n_cols = predictors.shape[1]
n_cols

8

In [64]:
def regression_model():
    # creation of the model
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model

In [67]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=6)

In [68]:
# build model for part A
modelA = regression_model()
epochs = 50
modelA.fit(X_train,y_train,epochs = epochs, verbose = 1)

Epoch 1/50
23/23 [==============================] - 0s 755us/step - loss: 2746.5105
Epoch 2/50
23/23 [==============================] - 0s 604us/step - loss: 2366.8394
Epoch 3/50
23/23 [==============================] - 0s 660us/step - loss: 1989.4794
Epoch 4/50
23/23 [==============================] - 0s 474us/step - loss: 1712.5746
Epoch 5/50
23/23 [==============================] - 0s 575us/step - loss: 1477.9762
Epoch 6/50
23/23 [==============================] - 0s 520us/step - loss: 1291.5833
Epoch 7/50
23/23 [==============================] - 0s 477us/step - loss: 1117.2601
Epoch 8/50
23/23 [==============================] - 0s 650us/step - loss: 991.4874
Epoch 9/50
23/23 [==============================] - 0s 519us/step - loss: 874.8661
Epoch 10/50
23/23 [==============================] - 0s 564us/step - loss: 776.8618
Epoch 11/50
23/23 [==============================] - 0s 468us/step - loss: 703.6159
Epoch 12/50
23/23 [==============================] - 0s 477us/step - loss: 624.5865
Epoch 13/50
23/23 [==============================] - 0s 477us/step - loss: 561.9211
Epoch 14/50
23/23 [==============================] - 0s 478us/step - loss: 505.1451
Epoch 15/50
23/23 [==============================] - 0s 517us/step - loss: 457.3614
Epoch 16/50
23/23 [==============================] - 0s 421us/step - loss: 400.7027
Epoch 17/50
23/23 [==============================] - 0s 520us/step - loss: 355.2408
Epoch 18/50
23/23 [==============================] - 0s 477us/step - loss: 322.3796
Epoch 19/50
23/23 [==============================] - 0s 500us/step - loss: 290.6541
Epoch 20/50
23/23 [==============================] - 0s 519us/step - loss: 265.6230
Epoch 21/50
23/23 [==============================] - 0s 477us/step - loss: 243.3952
Epoch 22/50
23/23 [==============================] - 0s 520us/step - loss: 223.0229
Epoch 23/50
23/23 [==============================] - 0s 591us/step - loss: 205.6796
Epoch 24/50
23/23 [==============================] - 0s 569us/step - loss: 192.1713
Epoch 25/50
23/23 [==============================] - 0s 483us/step - loss: 181.0102
Epoch 26/50
23/23 [==============================] - 0s 507us/step - loss: 174.5982
Epoch 27/50
23/23 [==============================] - 0s 523us/step - loss: 161.5604
Epoch 28/50
23/23 [==============================] - 0s 520us/step - loss: 153.7678
Epoch 29/50
23/23 [==============================] - 0s 522us/step - loss: 149.1009
Epoch 30/50
23/23 [==============================] - 0s 483us/step - loss: 143.3731
Epoch 31/50
23/23 [==============================] - 0s 468us/step - loss: 138.6156
Epoch 32/50
23/23 [==============================] - 0s 526us/step - loss: 137.2373
Epoch 33/50
23/23 [==============================] - 0s 549us/step - loss: 132.8675
Epoch 34/50
23/23 [==============================] - 0s 522us/step - loss: 130.0918
Epoch 35/50
23/23 [==============================] - 0s 561us/step - loss: 127.6318
Epoch 36/50
23/23 [==============================] - 0s 564us/step - loss: 130.6522
Epoch 37/50
23/23 [==============================] - 0s 578us/step - loss: 123.3882
Epoch 38/50
23/23 [==============================] - 0s 477us/step - loss: 120.6015
Epoch 39/50
23/23 [==============================] - 0s 564us/step - loss: 119.2931
Epoch 40/50
23/23 [==============================] - 0s 552us/step - loss: 119.2864
Epoch 41/50
23/23 [==============================] - 0s 522us/step - loss: 118.4803
Epoch 42/50
23/23 [==============================] - 0s 520us/step - loss: 117.7205
Epoch 43/50
23/23 [==============================] - 0s 495us/step - loss: 112.9266
Epoch 44/50
23/23 [==============================] - 0s 528us/step - loss: 113.6312
Epoch 45/50
23/23 [==============================] - 0s 502us/step - loss: 114.9081
Epoch 46/50
23/23 [==============================] - 0s 521us/step - loss: 114.4803
Epoch 47/50
23/23 [==============================] - 0s 477us/step - loss: 110.9600
Epoch 48/50
23/23 [==============================] - 0s 478us/step - loss: 107.6085
Epoch 49/50
23/23 [==============================] - 0s 513us/step - loss: 106.4272
Epoch 50/50
23/23 [==============================] - 0s 478us/step - loss: 106.5282

In [69]:
loss_val = modelA.evaluate(X_test, y_test)
loss_val

10/10 [==============================] - 0s 502us/step - loss: 148.7670

148.7670135498047

In [70]:
y_hat = modelA.predict(X_test)

In [71]:
mse = mean_squared_error(y_test,y_hat)
print("Mean Squared Error = {}".format(mse))

Mean Squared Error = 148.76702225570915

In [78]:
mse_lst = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    modelA = regression_model()
    modelA.fit(X_train,y_train,epochs = 50, verbose = 0)
    
    y_hat = modelA.predict(X_test)
    mse = mean_squared_error(y_test,y_hat)
    mse_lst.append(mse)

In [79]:
mean = np.mean(mse_lst)
standard_deviation = np.std(mse_lst)

print("Mean = {}, Standard Deviation = {}".format(mean,standard_deviation))

Mean = 352.04993667216274, Standard Deviation = 416.1025166844654