In [33]:
import keras
import numpy as np
import pandas as pd

from keras.models import Sequential
from keras.layers import Dense

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [34]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [35]:
concrete_data.shape

(1030, 9)

In [36]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [37]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [38]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [39]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [40]:
n_cols = predictors.shape[1]
n_cols

8

In [41]:
def regression_model():
    # creation of the model
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model

In [42]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=1)

In [43]:
# build model for part A
modelA = regression_model()
epochs = 50
modelA.fit(X_train,y_train,epochs = epochs, verbose = 1)

Epoch 1/50
23/23 [==============================] - 0s 0s/step - loss: 162994.5156
Epoch 2/50
23/23 [==============================] - 0s 0s/step - loss: 62966.2969
Epoch 3/50
23/23 [==============================] - 0s 679us/step - loss: 18110.4746
Epoch 4/50
23/23 [==============================] - 0s 940us/step - loss: 6467.7559
Epoch 5/50
23/23 [==============================] - 0s 0s/step - loss: 5087.2158
Epoch 6/50
23/23 [==============================] - 0s 679us/step - loss: 4743.8252
Epoch 7/50
23/23 [==============================] - 0s 679us/step - loss: 4414.9917
Epoch 8/50
23/23 [==============================] - 0s 679us/step - loss: 4102.5806
Epoch 9/50
23/23 [==============================] - 0s 0s/step - loss: 3803.3672
Epoch 10/50
23/23 [==============================] - 0s 679us/step - loss: 3522.6584
Epoch 11/50
23/23 [==============================] - 0s 679us/step - loss: 3260.4604
Epoch 12/50
23/23 [==============================] - 0s 679us/step - loss: 3025.0156
Epoch 13/50
23/23 [==============================] - 0s 283us/step - loss: 2793.0327
Epoch 14/50
23/23 [==============================] - 0s 679us/step - loss: 2581.4458
Epoch 15/50
23/23 [==============================] - 0s 679us/step - loss: 2383.3123
Epoch 16/50
23/23 [==============================] - 0s 0s/step - loss: 2207.9080
Epoch 17/50
23/23 [==============================] - 0s 0s/step - loss: 2038.1742
Epoch 18/50
23/23 [==============================] - 0s 679us/step - loss: 1886.0337
Epoch 19/50
23/23 [==============================] - 0s 679us/step - loss: 1748.8573
Epoch 20/50
23/23 [==============================] - 0s 679us/step - loss: 1621.9009
Epoch 21/50
23/23 [==============================] - 0s 283us/step - loss: 1506.2495
Epoch 22/50
23/23 [==============================] - 0s 679us/step - loss: 1404.7410
Epoch 23/50
23/23 [==============================] - 0s 0s/step - loss: 1311.9661
Epoch 24/50
23/23 [==============================] - 0s 0s/step - loss: 1233.5385
Epoch 25/50
23/23 [==============================] - 0s 679us/step - loss: 1160.9802
Epoch 26/50
23/23 [==============================] - 0s 679us/step - loss: 1098.3470
Epoch 27/50
23/23 [==============================] - 0s 679us/step - loss: 1043.5684
Epoch 28/50
23/23 [==============================] - 0s 0s/step - loss: 989.3337
Epoch 29/50
23/23 [==============================] - 0s 962us/step - loss: 941.4682
Epoch 30/50
23/23 [==============================] - 0s 680us/step - loss: 899.5736
Epoch 31/50
23/23 [==============================] - 0s 0s/step - loss: 860.3403
Epoch 32/50
23/23 [==============================] - 0s 679us/step - loss: 823.9951
Epoch 33/50
23/23 [==============================] - 0s 679us/step - loss: 792.4265
Epoch 34/50
23/23 [==============================] - 0s 679us/step - loss: 761.7845
Epoch 35/50
23/23 [==============================] - 0s 679us/step - loss: 733.4474
Epoch 36/50
23/23 [==============================] - 0s 0s/step - loss: 708.4025
Epoch 37/50
23/23 [==============================] - 0s 283us/step - loss: 683.6173
Epoch 38/50
23/23 [==============================] - 0s 680us/step - loss: 658.6661
Epoch 39/50
23/23 [==============================] - 0s 0s/step - loss: 636.2845
Epoch 40/50
23/23 [==============================] - 0s 679us/step - loss: 616.2546
Epoch 41/50
23/23 [==============================] - 0s 679us/step - loss: 595.5162
Epoch 42/50
23/23 [==============================] - 0s 679us/step - loss: 573.9532
Epoch 43/50
23/23 [==============================] - 0s 0s/step - loss: 555.0651
Epoch 44/50
23/23 [==============================] - 0s 0s/step - loss: 536.9356
Epoch 45/50
23/23 [==============================] - 0s 962us/step - loss: 519.1515
Epoch 46/50
23/23 [==============================] - 0s 0s/step - loss: 499.9427
Epoch 47/50
23/23 [==============================] - 0s 679us/step - loss: 482.1500
Epoch 48/50
23/23 [==============================] - 0s 440us/step - loss: 464.8512
Epoch 49/50
23/23 [==============================] - 0s 439us/step - loss: 447.5367
Epoch 50/50
23/23 [==============================] - 0s 219us/step - loss: 430.8869

In [44]:
loss_val = modelA.evaluate(X_test, y_test)
loss_val

10/10 [==============================] - 0s 584us/step - loss: 433.2711

433.2710876464844

In [45]:
y_hat = modelA.predict(X_test)

In [46]:
mse = mean_squared_error(y_test,y_hat)
print("Mean Squared Error = {}".format(mse))

Mean Squared Error = 433.27100276075424

In [47]:
mse_lst = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=1)
    modelA = regression_model()
    modelA.fit(X_train,y_train,epochs = 50, verbose = 0)
    
    y_hat = modelA.predict(X_test)
    mse = mean_squared_error(y_test,y_hat)
    mse_lst.append(mse)

In [48]:
mean = np.mean(mse_lst)
standard_deviation = np.std(mse_lst)

print("Mean = {}, Standard Deviation = {}".format(mean,standard_deviation))

Mean = 330.4674422873948, Standard Deviation = 386.78368176040675

## Prediction with Normalized Data *(Part B)*
Now we try to do carry out the same experiment as before but using Normalized predictors.

In [70]:
# Normalizing Predictors and printing the first five rows.
predictors_norm = (predictors- predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [71]:
# Splitting the normalized data set for training and testing
X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)

In [72]:
#Build model for Part B and training it
modelB = regression_model()
epochs = 50
modelB.fit(X_train_norm,y_train_norm,epochs = epochs, verbose = 1)

Epoch 1/50
23/23 [==============================] - 0s 607us/step - loss: 1581.1168
Epoch 2/50
23/23 [==============================] - 0s 622us/step - loss: 1565.6385
Epoch 3/50
23/23 [==============================] - 0s 592us/step - loss: 1551.0098
Epoch 4/50
23/23 [==============================] - 0s 641us/step - loss: 1536.7532
Epoch 5/50
23/23 [==============================] - 0s 622us/step - loss: 1522.8907
Epoch 6/50
23/23 [==============================] - 0s 625us/step - loss: 1508.4889
Epoch 7/50
23/23 [==============================] - 0s 477us/step - loss: 1494.1078
Epoch 8/50
23/23 [==============================] - 0s 488us/step - loss: 1479.2119
Epoch 9/50
23/23 [==============================] - 0s 461us/step - loss: 1463.5127
Epoch 10/50
23/23 [==============================] - 0s 450us/step - loss: 1447.3763
Epoch 11/50
23/23 [==============================] - 0s 519us/step - loss: 1430.1254
Epoch 12/50
23/23 [==============================] - 0s 499us/step - loss: 1411.7705
Epoch 13/50
23/23 [==============================] - 0s 512us/step - loss: 1391.8101
Epoch 14/50
23/23 [==============================] - 0s 480us/step - loss: 1371.2645
Epoch 15/50
23/23 [==============================] - 0s 440us/step - loss: 1349.3995
Epoch 16/50
23/23 [==============================] - 0s 501us/step - loss: 1326.2654
Epoch 17/50
23/23 [==============================] - 0s 457us/step - loss: 1302.3232
Epoch 18/50
23/23 [==============================] - 0s 507us/step - loss: 1277.4115
Epoch 19/50
23/23 [==============================] - 0s 463us/step - loss: 1251.9634
Epoch 20/50
23/23 [==============================] - 0s 506us/step - loss: 1225.3704
Epoch 21/50
23/23 [==============================] - 0s 525us/step - loss: 1199.0524
Epoch 22/50
23/23 [==============================] - 0s 520us/step - loss: 1171.4805
Epoch 23/50
23/23 [==============================] - 0s 478us/step - loss: 1144.1439
Epoch 24/50
23/23 [==============================] - 0s 457us/step - loss: 1116.3243
Epoch 25/50
23/23 [==============================] - 0s 514us/step - loss: 1088.2832
Epoch 26/50
23/23 [==============================] - 0s 498us/step - loss: 1060.2051
Epoch 27/50
23/23 [==============================] - 0s 517us/step - loss: 1032.8922
Epoch 28/50
23/23 [==============================] - 0s 477us/step - loss: 1004.5772
Epoch 29/50
23/23 [==============================] - 0s 480us/step - loss: 976.9698
Epoch 30/50
23/23 [==============================] - 0s 471us/step - loss: 949.8936
Epoch 31/50
23/23 [==============================] - 0s 434us/step - loss: 922.9014
Epoch 32/50
23/23 [==============================] - 0s 477us/step - loss: 896.7758
Epoch 33/50
23/23 [==============================] - 0s 476us/step - loss: 870.3511
Epoch 34/50
23/23 [==============================] - 0s 460us/step - loss: 844.6454
Epoch 35/50
23/23 [==============================] - 0s 464us/step - loss: 819.5262
Epoch 36/50
23/23 [==============================] - 0s 498us/step - loss: 794.8239
Epoch 37/50
23/23 [==============================] - 0s 477us/step - loss: 771.0974
Epoch 38/50
23/23 [==============================] - 0s 520us/step - loss: 747.1516
Epoch 39/50
23/23 [==============================] - 0s 482us/step - loss: 724.2836
Epoch 40/50
23/23 [==============================] - 0s 477us/step - loss: 702.2648
Epoch 41/50
23/23 [==============================] - 0s 525us/step - loss: 680.6506
Epoch 42/50
23/23 [==============================] - 0s 460us/step - loss: 659.5485
Epoch 43/50
23/23 [==============================] - 0s 563us/step - loss: 639.1091
Epoch 44/50
23/23 [==============================] - 0s 470us/step - loss: 619.0565
Epoch 45/50
23/23 [==============================] - 0s 390us/step - loss: 599.6303
Epoch 46/50
23/23 [==============================] - 0s 434us/step - loss: 580.7202
Epoch 47/50
23/23 [==============================] - 0s 477us/step - loss: 562.4446
Epoch 48/50
23/23 [==============================] - 0s 460us/step - loss: 544.5059
Epoch 49/50
23/23 [==============================] - 0s 477us/step - loss: 527.3290
Epoch 50/50
23/23 [==============================] - 0s 477us/step - loss: 510.3586

In [73]:
# Evaluate the model on the test data set
loss_valB = modelB.evaluate(X_test_norm, y_test_norm)
loss_valB

10/10 [==============================] - 0s 698us/step - loss: 527.2676

527.267578125

In [74]:
y_hat_norm = modelB.predict(X_test_norm)

In [75]:
mseB = mean_squared_error(y_test_norm,y_hat_norm)
print("Mean Squared Error for normalized predictors = {}".format(mseB))

Mean Squared Error for normalized predictors = 527.2675680364156

In [76]:
mse_lst_B = []
for i in range(50):
    X_train_norm, X_test_norm, y_train_norm, y_test_norm = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
    modelB = regression_model()
    modelB.fit(X_train_norm,y_train_norm,epochs = 50, verbose = 0)
    
    y_hat_norm = modelB.predict(X_test_norm)
    mseB = mean_squared_error(y_test_norm,y_hat_norm)
    mse_lst_B.append(mseB)

In [77]:
mean_B = np.mean(mse_lst_B)
standard_deviation_B = np.std(mse_lst_B)

print("For Mean Squared Errors, Mean = {}, Standard Deviation = {}".format(mean_B,standard_deviation_B))

For Mean Squared Errors, Mean = 361.9125070321076, Standard Deviation = 76.98207545760808